html, body, #c {
   margin: 0px;
   padding: 0px;
   height: 100%;
   width: 100%;
}

#c {
   position: absolute;
   top: 0;
   left: 0;
}

#box {
   width: calc(100% - 16px);
   width: 8vmin;
   height: 8vmin;
   border-radius: 50%;
   position: absolute;
   top: 0;
   right: 0;
   background-color: aquamarine;
}